.course-preview-container{
    display: flex;
    width: 300;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
 
}

.image{
    height: 200px;
    width: 300px;
    border-radius: 20px;

}

.name{
    font-size: 20px;
    color: white;
}
.description{
    color: white;

    font-size: 16px;
}