
.course-item{
    margin-top: 20px;
    display: flex;
    height: 60px;
    width: 800px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(117, 237, 237, 0.651);
}
#course-image>img{
    height: 60px;
    width: 100px;
    margin-right: 30px;
}

#name{
    color: white;
    font-weight: 700;
    text-align: left;

}
#deciption{
    text-align: left;
    
}
.text-container{
    width: 600px;
    margin-left: 20px;
}

.open-btn{
    width: 60px;
    height: 40px;
    background-color: #3B82F6;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}