#header-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#title-container{
    text-align: left;
    width: 100%;
    color: #3B82F6;
font-family: Inter;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 40px;
}
#info-container{
    width: 100%;
    display: flex;
    gap: 40px;
    height: 400px;
text-align: left;
}

#image-container-prg{
    width:  400px;
}

#description-container{
width: 400px;
}


#text{
    color: #3B82F6;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 30px;
}

.progress-course-description{
    width: 100%;
    color: #3B82F6;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 16px;
border: 1px solid rgba(0, 126, 197, 0.10);
background: rgba(0, 126, 197, 0.20);
height: 100px;
padding-left: 10px;
}

.progress-title{
    color: #3B82F6;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

#progress-btn-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.progress-btn{
    border-radius: 16px;
border: 1px solid #3B82F6;
background: #3B82F6;
width: 200px;
height: 40px;
margin-left: 40px;
cursor: pointer;
color: white;
align-items: center;
display: flex;
justify-content: center;
color: #F8FAFC;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

#remember-container{
border: 2px solid #3B82F6;

}

#forgot-container{
    border: 2px solid #f7821b;
    
    }
    
.progress-word-container{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.chart-container{
    height: 400px;
}
