
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  .custom-button {
    width: 365px;
    height: 34px;
    flex-shrink: 0;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
  }

  .social-login {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .facebook,
  .twitter ,
  .google{
    background-color: #3b5998; /* Facebook blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
  }
  
  .twitter {
    background-color: #55acee; /* Twitter blue color */
  }
  .google {
    background-color: #4285f4; /* Google blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }