.quiz {
    width: 800px;
    height:40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #3B82F6;
    border-radius: 16px;
    color: white;
  }
  